/* Global */

html {
    
    padding-left: 40%;
}

h1 {
    font-size: 25px;
}

h4 {
    font-size: 15px;
    font-family: 'Instrument Serif', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}